.column {
  float: left;
  width: 90%;
  font-size: 25px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  
}
.sideBar {
  float: left;
  width: 10%;
  font-size: 25px;
  cursor: pointer;
  color: rgb(0, 0, 0);
  
}

.containerTab {
  padding: 20px;
  color: white;
 
}

/* Clear floats after the columns */
.row {
  content: "";
  display: flex;
  clear: both;
 
}

/* Closable button inside the container tab */
.closeBtn {

  float: right;
  color: white;
  font-size: 35px;
  cursor: pointer;
}